

.dashboardContent {
    width: 100%;

}
.dashboardItem {
    height: 50px;
    border-radius: 5px;
    
}


#topContent{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 10px;   
    

}

#centerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 650px;
}

#leftSplit {
  
    width: 70%;
    margin: 0 10px;
    height: 630px;
   
}


#rightSplit {
   
    width: 30%;
    height: 630px;
    margin: 0 10px;
    
}



#DateTime {
    width: 70%;
    background-color: rgb(18,36,55);
    color: rgb(234,242,250);
    margin: 10px;
}

#Notification {
    width: 30%;
    background-color: rgb(18,36,55);
    color: rgb(234,242,250);
    margin: 10px;
  
}

#SpecialActivities {
    width: 100%;
    height: 315px;
    margin-bottom: 20px;

}

#StandartActivities {
    height: 315px;
}

#RestaurantBookings {
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
}

#RoomserviceBookings{
    height: 160px;
    width: 100%;

}

#ArrivingGuests {
    margin-top: 20px;
    height: 100px;

}

#LeavingGuests {
    margin-top: 20px;
    height: 100px;
}
.Layout1 {
    background-color: rgb(18,36,55);
    color: rgb(234,242,250);
}

.Layout2 {
    background-color: rgb(26, 60, 95);
    color: rgb(123, 173, 220);
}

.Layout3 {
    background-color: rgb(22,48,74);
    color: rgb(187, 213, 237);
}


.tileContent {
    width: 100%;
    padding:10px;
}