:root {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --text-primary: rgb(67,133,203);
    --bg-primary: rgb(22,48,74);
    --bg-secondary:  rgb(18,36,55);
    --transition-speed: 800ms;
    --text-heading: rgb(234,242,250);



}

body
{
    color: black;
    background-color: var(--text-heading);
    margin: 0;
    padding: 0;

}

main {
    margin-left: 15rem;
    padding: 1rem;
   
}
