
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg,var(--bg-primary) 50%,var(--bg-secondary) 50% );
}



.box{
    position: relative;
    padding: 50px;
    width: 360px;
    height: 460px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}


.box .form h2 {
    color: var(--text-heading);
    font-weight: 600;
    letter-spacing: 2;
    

}


.formInput {
    width: 300px;
    height: 5vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    
}


.inputBx input {
width: 100%;
height: 100%;
color: var(--text-heading);
padding-top: 20px;
border: none;
background: transparent;
outline: none;

}




.inputBx label {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
    color: var(--text-heading);
}

.inputBx label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: -2px;
    border-bottom: 3px solid var(--text-primary);
    transform:  translateX(-100%);
    transition: all 0.5s ease;
}
.content-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.5s ease;

}

.inputBx input:focus + .label-name .content-name, .inputBx input:valid
+ .label-name .content-name {

    transform: translateY(-150%);
    font-size: 14px;
    color:var(--text-primary);
    bottom: 2px;

    
}

.inputBx input:focus + .label-name::after, .inputBx input:valid + .label-name::after {
    transform: translateX(0%);
}


.remember {
    position: relative;
    display: inline-block;
    color: var(--text-heading);
    font-weight: 300;
    margin-bottom: 30px;
    cursor: pointer;

}


.inputBx button {
    width: 50%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:var(--text-heading);
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: var(--text-primary);
}

.inputBx  button:hover {
    transition: all 0.4s ease;
    color: var(--text-heading);
    background-color: var(--text-primary);
    outline: none;
    cursor: pointer;
}
