

.navbar {
    width: 15rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    border-right: 1px solid lightgray;

}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 98vh;

}
.navbar-nav li:last-child {
    margin-top: auto;
}


.nav-item {
    width: 100%;
    font-size: 18px;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%)  ;


}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    
}

.nav-link:hover svg {
    filter: grayscale(0%) opacity(1);
    color:var(--text-primary);
}



.link-text {
    display: block;
    margin-left: 1rem;

}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    
}


.navbar:hover .nav-link {
    transition: var(--transition-speed);
}


.fa-secondary {
    color:rgb(41, 200, 131);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    text-transform: uppercase;
    letter-spacing: 0.3ch;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);

}

.logo:hover .link-text{
    color: var(--text-heading);
}

.logo:hover svg {
    transform: rotate(-180deg);
    color:var(--text-primary);
}

.selectedPage {

    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-heading);

    
}

.selectedPage svg {
    filter: grayscale(0%) opacity(1);
    color: var(--text-primary);
}